%li.comment-form-wrapper
  = simple_form_for [@solution.viewed_solution, Comment.new], remote: true, |
    html: { class: 'comment-form' } do |f|
    = f.input :text, label: false, placeholder: 'Write a general comment about this solution'
    = f.submit t('.submit')
