%div
  .inner.has-icon
    .icon.checkmark
    .content
      %h1= t('solutions.statuses.completed')
      %p= t('solutions.statuses.to_submit_revision')

%div
  .inner
    = render 'statuses/next_exercise'
