%div
  .inner
    .content
    %h1= t('solutions.statuses.submitted')
    %p You can push more revisions as necessary.

%div
  .inner
    %h2.title Next step, review a peer's solution.
    = link_to(                                                             |
        t('solutions.show.continue'),                                      |
        exercise_solution_path(@review.exercise, @review.assigned_solver), |
        class: 'button'                                                    |
      )                                                                    |
