%ul.solutions.my-solution
  - if solution.present?
    = render solution, solutions: solutions
  - else
    %li
      = link_to exercise_path(exercise) do
        = render 'solutions/user', user: current_user
        %span.review-status= t('solutions.show.no_solution')
