.files {
  float: left;
  width: $files-width;

  .file {
    margin-bottom: $base-margin*1.5;
    position: relative;

    .filename {
      background: #f6f6f6;
      border: 1px solid $base-border-color;
      color: #444;
      display: block;
      font-size: .74rem;
      font-weight: 600;
      line-height: 2.3em;
      padding: .35rem .75rem;
    }
  }

  .code {
    border: 1px solid $base-border-color;
    border-top-width: 0;
    overflow-x: scroll;
    padding: .5rem 0;
  }

  .line {
    display: block;
    min-width: 100%;
    padding: 0 .75rem;

    &:hover {
      .make-comment a {
        display: block;
      }

      &:before {
        content: '';
        height: 24px;
        @include position(absolute, 0 0px 0 0px);
        z-index: -1;
      }
    }

    &:hover, &:hover:before, {
      background: $highlight-yellow;
    }

    &.comments {
      background: $highlight-green;
    }

    &.blank {
      height: 1.1rem;

      &:hover, &:hover:before {
        background: none;
      }
    }

    .make-comment, .show-comments {
      @include position(absolute, 0 0 0 -0.8rem);

      a {
        // margin-top: 1px;
        background-repeat: no-repeat;
        width: 22px;
        height: 22px;
        z-index: 1;
      }
    }

    .make-comment a {
      background: image_url('comment-add.svg') no-repeat;
      display: none;
    }

    .show-comments a {
      background: image_url('comment-show.svg') no-repeat;
    }

    .show-comments a {
      color: #fff;
      display: block;
      font-size: .75rem;
      font-weight: bold;
      line-height: 2;
      text-align: center;
    }
  }

  pre {
    font-size: 1.1rem;
    line-height: 1rem;
    margin: 0;
    padding: .1em 0 .3em 0;
  }

  .line-comments {
    display: none;
    ol {
      margin: 0;
      padding: 0;
    }

    li {
      display: block;
      font-size: em(14px);
      padding: 1rem 3rem 1.2rem;
      position: relative;
      border-bottom: 1px solid $base-border-color-2;

      &:first-child {
        border-top: 1px solid $base-border-color;
        padding-top: 1rem;
      }

      &:last-child {
        border-bottom: 1px solid $base-border-color;
      }

      &.form form {
        margin-left: 1.5rem;
        padding-left: .75rem;
      }

    }

    header {
      color: #666;
      font-size: .8rem;
      line-height: 1.6rem;

      img {
        border-radius: 50%;
        float: left;
      }

      .username {
        color: $base-font-color;
        font-weight: 600;
        padding: 1px 0 1px .75rem;
      }
    }

    .comment {
      display: block;
      margin: .5rem 0 0 $avatar-size;
      padding-left: .75rem;
    }

    .comment-textarea {
      display: none;
    }

    textarea {
      margin: 0.5rem 0;
      font-size: 0.8rem;
    }
  }
}

