.files {
  float: left;
  width: $files-width;
  min-width: 656px; //preserve 80 char width

  @include media($break-80-char) {
    width: 95%;
  }

  .file {
    margin-bottom: $base-margin*1.5;
    position: relative;

    .filename {
      border: 1px solid $base-border-color;
      @include border-top-radius(2px);
      box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, 0.5);
      color: #444;
      display: block;
      font-size: .74rem;
      font-weight: 600;
      @include linear-gradient(#F8F8F8, #EFEFEF);
      line-height: 2.3em;
      padding: .35rem .75rem;
    }
  }

  .code {
    border: 1px solid $base-border-color;
    border-top-width: 0;
    overflow-x: scroll;
    padding: 0;
    @include border-bottom-radius(2px);

    > div:first-of-type {
      padding-top: 0.5rem;
    }
  }

  .line {
    display: block;
    line-height: 1.6em;
    min-width: 100%;
    padding: 0 .75rem;

    &:hover {
      .make-comment a {
        display: block;
      }

      &:before {
        content: '';
        height: 24px;
        @include position(absolute, 0 0px 0 0px);
        z-index: -1;
      }
    }

    &:hover, &:hover:before, {
      background: $highlight-yellow;
    }

    &.comments {
      background: $highlight-green;
    }

    &.blank {
      code:after {
        content: " "; // preserve equal heights for blank & non-blank lines
      }

      &:hover, &:hover:before {
        background: none;
      }
    }

    .make-comment, .show-comments {
      @include position(absolute, 0 0 0 -0.8rem);

      a {
        // margin-top: 1px;
        background-repeat: no-repeat;
        width: 22px;
        height: 22px;
        z-index: 1;
      }
    }

    .make-comment a {
      background: image_url('comment-add.svg') no-repeat;
      display: none;
    }

    .show-comments a {
      background: image_url('comment-show.svg') no-repeat;
    }

    .show-comments a {
      color: #fff;
      display: block;
      font-size: .75rem;
      font-weight: bold;
      line-height: 2;
      text-align: center;
    }
  }

  pre {
    display: inline-block;
    font-size: 1.1rem;
    line-height: 1rem;
    margin: 0;
    padding: .1em 0 .3em 0;
  }

  .line-comments {

    > ol {
      margin: 0;
      padding: 0;

      > li {
        display: block;
        font-size: em(14px);
        padding: 1rem 3rem 1.2rem;
        position: relative;
        border-bottom: 1px solid $base-border-color-2;

        &:first-child {
          border-top: 1px solid $base-border-color;
          padding-top: 1rem;
        }

        &:last-child {
          border-bottom: 1px solid $base-border-color;
        }

        &.form form {
          margin-left: 1.5rem;
          padding-left: .75rem;
        }
      }
    }

    ul, ol {
      margin-left: 1rem;
      list-style-type: disc;
      margin-bottom: .5rem;
    }

    ol {
      list-style-type: decimal;
      margin: 0;
    }

    header {
      color: #666;
      font-size: .8rem;
      line-height: 1.6rem;
      padding-bottom: $base-padding;

      img {
        border-radius: 50%;
        float: left;
      }

      .comment {
        display: block;
        margin: .5rem 0 0 $avatar-size;
        padding-left: .75rem;
      }

      .username {
        color: $base-font-color;
        font-weight: 600;
        padding: 1px 0 1px .75rem;
      }
    }

    textarea {
      margin: 0.5rem 0;
      font-size: 0.8rem;
    }
  }
}