.participants {
  background: $sidebar-bg;
  padding: 2.2rem 1.8rem;
  @include position(absolute, 0px 0 0px 0);
  width: $sidebar-width;

  // Fix for full-width sidebar
  &:after {
    background: $sidebar-bg;
    border-right: 1px solid $sidebar-border;
    content: "";
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: $sidebar-width;
    z-index: -1;
  }

  h1 {
    color: #444;
    font-size: em(22px);
    font-weight: 300;
    margin-bottom: 0.65em;
  }
}

ul.solutions {
  border: 1px solid $light-gray;
  list-style-type: none;
  margin: 0 0 2rem 0;
  padding: 0;

  li {
    border-bottom: 1px solid $light-gray;
    position: relative;

    &:last-of-type {
      border: 0;
    }

    &.you {
      .username {
        color: darken(desaturate($highlight-blue, 30%), 15%);
      }

      .review-status {
        color: $highlight-blue;

        &:before {
          background: $highlight-blue;
        }
      }
    }

    &.assigned .review-status {
      color: $red;

      &:before {
        background: $red;
      }
    }

    &.active a {
      background: #fff;
      box-shadow: 0 1px 0 rgba($red, 0.4);
    }

    a {
      display: block;
      padding: 1rem .5rem 1rem 1rem;
      text-decoration: none;

      &:hover {
        background: #fff;
      }
    }

    img {
      border-radius: 50%;
      float: left;
      margin-right: .75rem;
    }

    .username {
      color: #333;
      display: block;
      font-size: .9rem;
      line-height: $avatar-size;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .review-status {
      display: block;
      font-size: .75rem;
      margin-left: $avatar-size;
      padding-left: .75rem;

      &:before {
        @include pseudo-circle-small;
        left: 23px;
      }
    }
  }
}
