%article
  %header
    %h1 Shakespeare Analyzer
    %h2.difficulty Intermediate Exercise

  %section.setup
    %h3 Complete the exercise and submit your solution to get a peer review

    %ol
      %li
        %p Clone and setup the exercise repository
        %pre
          %code
            git clone git@github.com:repo-name
            cd repo-name
            bin/setup
      %li
        %p Complete the exercise in your master branch. Instructions are in README.md
      %li
        %ol
          %li Push your solution to your fork by running git push origin master
          %li Submit your solution below

  = link_to 'Submit solution', '/pages/solutions', class: 'button'
