.main {
  ol {
    @extend %default-ol;

    li {
      margin-bottom: $base-margin/3;
    }
  }

  > nav {
    margin-bottom: $base-margin*1;
  }

  > header {
    margin-bottom: $base-margin*1;

    h2 {
      font-size: 20px;
      color: $medium-gray;
    }
  }

  > section {
    margin-bottom: $base-margin*2;

    h3 {
      margin-bottom: 0.3em;
    }
  }

  iframe {
    width: 100%;
    height: 450px;
  }

  pre code {
    width: 100%;
    padding: $base-padding;
    background: #f6f6f6;
    border-radius: 3px;
    display: block;
  }
}
