body {
  margin: 0;
}

section.main article {
  @include align-main-container;
}

ol {
  @extend %default-ol;
}

nav.main {
  background: #3E3C44;

  a {
    color: #fff;
    display: block;
    float: left;
    padding: 1.2rem 0;
  }

  .back {
    @include position(absolute, 0px 0 0 3.8rem);
    color: #999;
  }

  .toggle {
    margin-left: $sidebar-width + $main-padding;
    overflow: auto;
    width: 45rem;

    a {
      font-weight: bold;
      margin-right: 2rem;
    }
  }
}

.main-inner {
  position: relative;
  padding-top: 2rem;
}

.main-body {
  @include clearfix;
  margin-left: $sidebar-width;
  max-width: 1400px;
  min-width: 800px;
  padding: 0 2rem 2rem 3rem;
}
