html, body {
  height: 100%;
}

body {
  margin: 0;

  &.exercises, &.clones {
    background: $sidebar-bg;
  }
}

section.main {
  &.solutions {
    background: none;
  }

  article.main-inner {
    @include align-main-container;
    background: #fff;
  }
}

ol {
  @extend %default-ol;
}

nav.main {
  background: #3E3C44;

  a {
    color: #fff;
    display: block;
    float: left;
    padding: 1.2rem 0;
  }
  .nav-inner {
    @include align-main-container;
    padding-bottom: 0;
    padding-top: 0;
    @include clearfix;
  }

  .back {
    color: #999;
  }

  .exercise-nav {
    float: right;
    overflow: auto;

    a {
      font-weight: bold;
      margin-right: 2rem;
    }
  }
}

nav.exercise {
  border-bottom: 2px solid $sidebar-border;
  margin-bottom: 2rem;

  a {
    display: inline-block;
    font-size: 1rem;
    margin-right: 1rem;
    padding: 1rem 1.5rem 1rem 40px;
    position: relative;

    &:before {
      height: 30px;
      width: 30px;
      content: "";
      position: absolute;
      top: 10px;
      left: 0;
      background-position: center;
    }

    &.active {
      box-shadow: 0 2px 0 #ccc;
    }

    &.instructions:before {
      background: image_url('instructions.svg') no-repeat center;
      background-size: 30px;
    }

    &.solutions {
      padding-left: 46px;

      &:before {
        background: image_url('solutions.svg') no-repeat center;
        background-size: 36px;
        width: 36px;
        top: 11px;
      }
    }
  }
}

.main-inner {
  position: relative;
  padding-top: 2rem;
}

.main-body {
  @include clearfix;
  margin-left: $sidebar-width;
  max-width: 1400px;
  min-width: 800px;
  padding: 0 2rem 2rem 3rem;
}
