body {
  margin: 0;
}

section.main article {
  @include align-main-container;
}

ol {
  @extend %default-ol;
}

nav.main {
  height: 3.5rem;
  margin: 0 0 2rem 0;
  overflow: auto;
  position: relative;
  z-index: 1;

  a {
    display: block;
    float: left;
    padding: 1rem 0;
  }

  .back {
    @include position(absolute, 0px 0 0 1rem);
    color: #999;
  }

  .toggle {
    margin-left: 17.5rem;
    overflow: auto;
    width: 45rem;

    a {
      font-weight: bold;
      margin-right: 1rem;
    }
  }
}

.main-inner {
  @include clearfix;
  margin-left: $sidebar-width;
  max-width: 1400px;
  min-width: 800px;
  padding: 0 2em 2em 2.5em;
}
