$button-green: #57C75C;
$red: #ff4856;
$highlight-blue: #0181e9;
$highlight-green: #dcfedc;
$avatar-size: 1.5rem;

$sidebar-width: 15rem;
$sidebar-bg: #f6f6f6;
$sidebar-border: #efefef;

$next-steps-bg: #FFF5C2;
$next-steps-border: #C49B61;
$next-steps-color: #5C4A33;

$files-width: 65%;
$timeline-width: 100% - $files-width;
