- if overview.has_public_key?
  = render('instructions', exercise: overview.exercise, clone: overview.clone)

  = button_to(                                     |
      t('exercises.show.submit_solution'),         |
      exercise_solutions_path(overview.exercise),  |
      method: :post                                |
    )                                              |
- else
  = render 'gitolite/public_keys/new'
