- if overview.has_public_key?
  = render 'exercises/instructions',
    exercise: overview.exercise,
    clone: overview.clone

  = render 'exercises/submit_solution', overview: overview
- else
  = render 'gitolite/public_keys/new', return_to: request.path
