- if overview.has_clone?
  - if overview.has_pending_clone?
    = t("clones.create.pending")
  - else
    = render "exercises/clone", overview: overview
- else
  = button_to(                              |
    t("exercises.show.start_exercise"),     |
    exercise_clone_path(overview.exercise), |
    method: :post,                          |
    remote: true,                           |
  )                                         |
