%section.setup
  .inner
    %h3 Setup instructions
    %p Clone and setup the exercise repository:
    %pre
      %code= render clone.repository
    %p.clone-help
      = link_to t("exercises.show.clone_help"),
        clone_help_page_path(return_to: exercise_path(clone.exercise)),
        remote: true

%section.instructions
  %h3.title Exercise instructions
  :markdown
    #{exercise.instructions}
