%section.setup
  .inner
    %h3 Setup instructions
    %p Clone and setup the exercise repository:
    %pre
      %code= render clone.repository

%section.instructions
  %h3 Exercise instructions
  :markdown
    #{exercise.instructions}
