%ul.solutions.my-solution
  - if solutions.user_has_solution?
    = render solutions.submitted_solution, solutions: solutions
  - else
    %li
      = link_to exercise_path(exercise) do
        = render 'solutions/user', user: current_user
        %span.review-status= t('solutions.show.no_solution')
