#submit-solution{ 'data-url' => new_exercise_solution_path(overview.exercise) }
  %section.setup
    .inner
      %h3= t('exercises.show.push_solution')
      %p Once you're finished, push your solution to your fork:
      %pre
        %code git push origin master
      %p Then press the button below.

  - if overview.unpushed?
    = button_to t('exercises.show.no_commits'),
      exercise_solutions_path(overview.exercise),
      disabled: true
  - else
    = button_to t('exercises.show.submit_solution'),
      exercise_solutions_path(overview.exercise),
      method: :post
