- content_for :page_title, @exercise.title

%article
  %header
    %h1= @exercise.title

  %section.explanation
    :markdown
      #{@exercise.body}

  = button_to "Start Exercise", exercise_clones_path(@exercise), method: :post
