- content_for :page_title, @overview.title

%article.main-inner
  %header
    %h1= @overview.title

  = render 'exercises/intro', exercise: @overview.exercise

  - if @overview.has_clone?
    = render 'exercises/clone', overview: @overview
  - else
    = button_to(                               |
      t('.start_exercise'),                    |
      exercise_clone_path(@overview.exercise), |
      method: :post                            |
    )                                          |
