- content_for :page_title, @exercise.title

%article
  %header
    %h1= @exercise.title

  %section.explanation
    :markdown
      #{@exercise.body}

  = button_to(                      |
    t('.start_exercise'),           |
    exercise_clone_path(@exercise), |
    method: :post                   |
  )                                 |
