.exercise-progress
  .submission.complete
    %span.indicator
      %span.icon
    .tooltip Submitted a solution
  .peer-review
    %span.indicator
      %span.icon
    .tooltip Reviewed a peer
  .my-review
    %span.indicator
      %span.icon
    .tooltip Reviewed by a peer
