= content_tag_with_conditional_classes(                                     |
    :li,                                                                    |
    class_names: { assigned: solution.assigned?, active: solution.active? } |
  ) do                                                                      |
  = link_to exercise_solution_url(solution.exercise, solution.user) do
    = render solution.user
    - if solution.assigned?
      %span.review-status= t('.assigned')
